// Purple Theme

// Color variables
$black: #181818;
$white: #fff;
$purple: #4A12A6;
$dark-purple: #5E11DA;

// Config
$color-background: $purple !default;
$color-dot-accent: $white !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $black !default;
$color-text-accent: $dark-purple !default;
$color-code: $dark-purple !default;
$color-nav-link: $white !default;
$color-primary-link: $purple !default;
$color-secondary-list-color: $dark-purple;

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
